# Virtual Environment
venv/
.env*
env/
ENV/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
override.tf
*_override.tf
.terraformrc
terraform.rc

# Others
.DS_Store